.project-container{
    display: grid;
    margin: auto;
    max-width: 90%;
}

/* .project-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.project-card img{
    width: 100%;
}

.project-details p{
    width: 100%;
}

.project-title{
    color:white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pro-details{
    margin-bottom: 30px
}

.pro-btns2{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem
}

.project-heading{
    text-align: center;
}

